html {
  font-family: Verdana, sans-serif;
  background-image: url("../images/sloth-bg.svg");
  background-size: 48px auto;
  background-color: #bea586;
}

body,
a {
  background-color: #fff;
  color: #000;
}

.georgia, h1 {
  font-family: Georgia, serif;
}

h1 {
  position: relative;
  z-index: 100;
  color: #fff;
  padding-top: .6em;
  text-shadow: 2px 2px #000;
}

.container {
  border-top: 2px solid rgba(28, 14, 0, .5);
  border-bottom: 2px solid rgba(28, 14, 0, .5);
}

.h1-container {
  position: absolute;
  background: linear-gradient(to bottom, rgba(28, 14, 0, .7) 20%, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
  width: 634px;
  max-height: 200px;
  z-index: 1000;
}

@media only screen and (min-width: 40em) {

  .para {
    width: 650px;
  }

}

@media only screen and (min-width: 90em) {

  .para {
    width: 720px;
  }

}
